* {
    margin: 0;
    font-family: "Montserrat";
    -webkit-box-sizing: initial !important;
    /**border: black solid 1px;/**/
}

html {
    /**background-image: -webkit-linear-gradient(left, red, yellow);/**/
}

body{
    background-image: url(../images/padroes/website_background.jpg);
    background-repeat: repeat-y;
    font-family: "Montserrat";
    -webkit-box-sizing: initial !important;
    font-size: 16px;
    line-height: 1.42857143;
    color: black;
    background-color: white;
}

a{
    color: black !important;
    text-decoration: none !important;
}

h1 {
    color: #AF1917;
    font-size: 900;
    font-family: "Montserrat";
}


.pointer:hover{
    cursor: pointer;
}

.flex {
    display: flex;
}

.flex_row {
    flex-direction: row;
}

.flex_collum {
    flex-direction: column;
}

.flex_center {
    align-items: center;
}

.space_between {
    justify-content: space-between;
}

.gap5{
    gap: 5px !important;
}

.gap10 {
    gap: 10px !important;
}

.gap25 {
    gap: 25px !important;
}

.gap50 {
    gap: 50px !important;
}

.gap75 {
    gap: 75px !important;
}

.gap100 {
    gap: 100px !important;
}

.wrapper {
    padding-top: 200px !important;
}

.missão_video, .servicos_video {
    width: 57.2917vw;
    height: calc(0.5625*57.2917vw);
    background: #D9D9D9;
    border-radius: 5px;
}

.login_input{
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.login_background{
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 300ms;
}

.login_registo_form{
    gap: 25px;
    margin: 0 0 50px 0;
}

#registo_popUp, #login_popUp{
    display: none;
}

/* BUTTONS */
svg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

rect {
    fill: none;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.5s cubic-bezier(0.25, 0.24, 0.81, 0.46);
}

.button1_red{
    border: none;
    background-color: #AF1917;
    border-radius: 3px;
    text-align: center;
    align-items: center;
    min-width: 370px; /*SOLUÇÃO TEMPORÁRIA*/
}

.button1_red:hover{
    cursor: pointer;
    background-color: transparent;
}

.button1_text_red {
    padding: 25px 50px;
    color: white;
    font-family: "Montserrat";
    font-size: 24px;
    transition: all 0.5s cubic-bezier(0.25, 0.24, 0.81, 0.46);
}

.button1_text_red:hover {
    padding: 22px 36px;
    color: #AF1917;
    font-size: 28px;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.button{
    position: relative;
}


.button2_yellow{
    margin: 50px 100px 100px 100px;
    border-radius: 2px;
    text-align: center;
    align-items: center;
    transition: all 0.5s cubic-bezier(0.25, 0.24, 0.81, 0.46);
}

.button2_yellow rect{
    stroke: #FAD657;
}

.button2_yellow:hover{
    background-color: #FAD657;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.25, 0.24, 0.81, 0.46);
}

.button:hover rect{
    stroke-width: 10;
    stroke-dasharray: 0, 310;
    stroke-dashoffset: 48;
}

.button2_text_yellow{
    padding: 25px 50px;
    color: #FAD657;
    font-family: "Montserrat";
    font-size: 24px;
    transition: all 0.35s linear;
}

.button2_text_yellow:hover {
    padding: 20px 24px;
    color: #AF1917;
    font-size: 32px;
    transition: all 0.5s cubic-bezier(0.25, 0.24, 0.81, 0.46);
}

.button2_red {
    margin: 50px 100px 100px 100px;
    border: 1px solid #AF1917;
    border-radius: 2px;
    text-align: center;
    align-items: center;
}

.button2_red:hover {
    background-color: #AF1917;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.25, 0.24, 0.81, 0.46);
}

.button2_red rect{
    stroke: #AF1917;
}

.button2_text_red {
    padding: 25px 50px;
    color: #AF1917;
    font-family: "Montserrat";
    font-size: 24px;
    transition: all 0.5s cubic-bezier(0.25, 0.24, 0.81, 0.46);
}

.button2_text_red:hover {
    padding: 20px 24px;
    color: #FAD657;
    font-size: 32px;
    transition: all 0.5s cubic-bezier(0.25, 0.24, 0.81, 0.46);
}

.button3_red {
    background-color: white;
    border-radius: 2px;
    text-align: center;
    align-items: center;
    transition: all 0.25s cubic-bezier(0, -0.25, 1, 2.5);
}

.button3_text_red {
    font-size: 24px;
    padding: 25px 150px;
    color: #AF1917;
    font-family: "Montserrat";
}

.button3_red rect {
    stroke: #AF1917;
    stroke-dasharray: 15, 15;
}

.button3_red:hover rect {
    stroke-width: 5;
    stroke-dasharray: 500, 0;
    stroke-dashoffset: 48;
}

.button3_red:hover {
    background-color: transparent;
    font-weight: 800;
}

.button4_red {
    border: none;
    background-color: #AF1917;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.button4_red:hover {
    cursor: pointer;
    background-color: transparent;
}

.button4_text_red {
    padding: 10px 30px;
    color: white;
    font-family: "Montserrat";
    font-size: 24px;
    transition: all 0.5s cubic-bezier(0.25, 0.24, 0.81, 0.46);
}

.button4_text_red:hover {
    padding: 7px 25px;
    color: #AF1917;
    font-size: 28px;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.button3_red_outlined:hover {
    background-color: transparent;
    font-weight: 800;
}

.button4_red_outlined {
    border: 2px solid #AF1917;
    border-bottom: none;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.button4_text_red_outlined {
    padding: 10px 30px;
    color: #AF1917;
    font-family: "Montserrat";
    font-size: 24px;
    transition: all 0.5s cubic-bezier(0.25, 0.24, 0.81, 0.46);
}

.button4_grey {
    border: none;
    background-color: #a0a0a0;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.button4_grey:hover {
    cursor: pointer;
    background-color: transparent;
}

.button4_text_grey {
    padding: 10px 30px;
    color: white;
    font-family: "Montserrat";
    font-size: 24px;
    transition: all 0.5s cubic-bezier(0.25, 0.24, 0.81, 0.46);
}

.button4_text_grey:hover {
    padding: 7px 25px;
    color: #000000;
    font-size: 28px;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.button5_red {
    border: none;
    background-color: #AF1917;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.button5_red:hover {
    cursor: pointer;
    background-color: transparent;
}

.button5_text_red {
    padding: 7px 25px;
    color: white;
    font-family: "Montserrat";
    font-size: 18px;
    transition: all 0.5s cubic-bezier(0.25, 0.24, 0.81, 0.46);
}

.button5_text_red:hover {
    padding: 5px 20px;
    color: #AF1917;
    font-size: 20px;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

/* PAGE CONTENT */
.title{
    font-family: "Montserrat";
    font-size: 64px;
    font-weight: 900;
}

.title2 {
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 900;
}

.title3 {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 800;
}

.title4 {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.text{
    font-size: 24px;
    padding: 0 20vw;
    text-align: center;
    line-height: 35px;
}

.text_left{
    font-size: 24px;
    text-align: left;
    line-height: 35px;
}

.text2 {
    font-size: 18px;
    padding: 0 20vw;
    text-align: center;
    line-height: 22px;
}

.text2_left {
    font-size: 18px;
    text-align: left;
    line-height: 22px;
}

.info_block{
    gap: 50px;
}

.content_wrapper{
    gap: 200px;
}


/* CAROUSEL */
.carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.cards{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 80vw;
}

.card img{
    width: 20vw;
}

.page_selection{
    display: flex;
    gap: 10px;
}

.selection_circles{
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    border-radius: 100%;
}

.selected_circle{
    background-color: #AF1917;
}


/* ESTILOS DE FORMULÁRIOS */

.form_1{
    gap: 100px;
    font-size: 24px;
}

.fomr1_inputs{
    gap: 50px;
}

.form1_line{
    gap: 100px
}

.form1_inline {
    gap: 20px;
}

.form1_input{
    border: none;
    background-color: white;
    border-radius: 5px;
    border-bottom: #AF1917 solid 1px;
    padding: 20px;
    font-size: 24px;
}

.form1_separador{
    gap: 2vw;
}

.form1_separador1{
    border: #AF1917 solid 1px;
    width: 40vw;
}

.form1_separador2{
    color: #AF1917;
    font-size: 32px;
    font-weight: 900;
}

.form1_textarea{
    width: 100%;
    font-size: 20px;
    text-align: center;
    resize: none;
    overflow: hidden;
}

.metodos_pagamento{
    width: 100%;
}

.metodo_pagamento {

}

/* SERVIÇOS */
.service_logo{
    width: 15vw;
    border-radius: 3px;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.25));
}

/* LOJA CARDS */
.item_loja_card {
    width: 18.229vw;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

.item_loja_img {
    width: 100%;
    object-fit: cover;
    border: none;
    border-radius: 10px 10px 0 0;
    height: 18.229vw;
    background-color: #878787;
}

.item_loja {
    background-color: white;
    width: 100%;
    padding: 20px 0;
    gap: 15px;
    border-radius: 0 0 10px 10px;
}

.item_loja>* {
    padding: 0 30px;
}

.preco {
    gap: 10px;
}

.disponibilidade {
    font-weight: 200;
    gap: 10px;
}

.disponibilidade_circle {
    background-color: #00FF47;
    border-radius: 100%;
    width: 15px;
    height: 15px;
}

.addicionar_carrinho{
    text-align: center;
    gap: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: #AF1917;
    align-items: center;
    color: white;
}

/* SELEÇÂO DE CORES */
.red {
    background-color: #AF1917;
}

.yellow {
    background-color: #FAD657;
}

.color_red{
    color: #AF1917;
}

.color_yellow {
    color: #FAD657;
}

/* PERFIL */

.profile_img, .profile_img>img{
    width: 7vw;
    height: 7vw;
    border-radius: 100%;
}

.profile_img{
    background-color: grey;
}

.fill_available{
    width: -webkit-fill-available;
}

.fit_content {
    height: fit-content;
}

.align_items_center{
    align-items: center;
}

.submenu{
    padding: 0 25vw;
}

.user_historico{
    padding: 0 20vw;
}

.user_historico > * {
    border: solid #AF1917 2px;
    border-radius: 5px;
    padding: 2vw;
}

#encomenda_produtos {
    transition: 1s;
    opacity: 1;
    position: initial;
}

#hide_show_produtos_seta {
    transition: 0.75s;
}

#hide_show_produtos:hover #hide_show_produtos_seta{
    rotate: 25deg;
}

.rotate90{
    rotate: 90deg;
}

.hidden {
    opacity: 0 !important;
    position: absolute !important;
    top: -100%;
}

.produto_singular{
    background-color: white;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.produto_img_encomenda{
    height: 10vw;
    width: 15vw;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.produto_card_encomenda{
    padding: 1vw;
}



.partner_info {
    opacity: 0;
    transition: 0.3s;
    border-radius: 3px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}


.partner_card:hover .partner_info {
    opacity: 1;
}

.partner_card {
    position: relative;
}

a > .partner_card:hover {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}