body{
    background-image: url(../images/padroes/website_background.jpg);
    background-repeat: repeat-y;
}

a{
    color: black;
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex_row {
    flex-direction: row;
}

.flex_collum {
    flex-direction: column;
}

.flex_center {
    align-items: center;
}

.space_between {
    justify-content: space-between;
}

.login_input{
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.login_background{
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 300ms;
}

.login_registo_form{
    gap: 25px;
    margin: 0 0 50px 0;
}

#registo_popUp, #login_popUp{
    display: none;
}

/* BUTTONS */
svg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

rect {
    fill: none;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}

.button1_red{
    border: none;
    background-color: #AF1917;
    border-radius: 2px;
    text-align: center;
    align-items: center;
}

.button1_red:hover{
    cursor: pointer;
}

.button1_text_red {
    padding: 25px 50px;
    color: white;
    font-family: "Gotham Bold";
    font-size: 32px;
    transition: all 0.35s linear;
}

.button1_text_red:hover {
    padding: 22px 36px;
    color: white;
    font-size: 38px;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.buttonCTA{
    position: relative;
}


.button2_yellow{
    margin: 50px 50px 100px 50px;
    border-radius: 2px;
    text-align: center;
    align-items: center;
    transition: all 0.35s linear;
}

.button2_yellow rect{
    stroke: #FAD657;
}

.button2_yellow:hover{
    background-color: #FAD657;
    cursor: pointer;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.buttonCTA:hover rect{
    stroke-width: 10;
    stroke-dasharray: 0, 310;
    stroke-dashoffset: 48;
}

.button2_text_yellow{
    padding: 25px 50px;
    color: #FAD657;
    font-family: "Gotham Bold";
    font-size: 32px;
    transition: all 0.35s linear;
}

.button2_text_yellow:hover {
    padding: 22px 30px;
    color: #AF1917;
    font-size: 38px;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.button2_red {
    margin: 50px 50px 100px 50px;
    border: 1px solid #AF1917;
    border-radius: 2px;
    text-align: center;
    align-items: center;
}

.button2_red:hover {
    background-color: #AF1917;
    cursor: pointer;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.button2_red rect{
    stroke: #AF1917;
}

.button2_text_red {
    padding: 25px 50px;
    color: #AF1917;
    font-family: "Gotham Bold";
    font-size: 32px;
    transition: all 0.35s linear;
}

.button2_text_red:hover {
    padding: 22px 30px;
    color: #FAD657;
    font-size: 38px;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.button3_red {
    border: 1px solid #AF1917;
    border-radius: 2px;
    text-align: center;
    align-items: center;
}

.button3_text_red {
    font-size: 24px;
    padding: 25px 150px;
    color: #AF1917;
    font-family: "Gotham Bold";
}

/* PAGE CONTENT */

.title{
    font-family: "Gotham Bold";
    font-size: 64px;
}

.text{
    font-size: 24px;
    padding: 0 360px;
    text-align: center;
    line-height: 35px;
}

.info_block{
    gap: 50px;
}

.content_wrapper{
    gap: 250px;
}


/* CAROUSEL */
.carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.cards{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 80vw;
}

.card{

}

.card img{
    width: 20vw;
}

.page_selection{
    display: flex;
    gap: 10px;
}

.selection_circles{
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    border-radius: 100%;
}

.selected_circle{
    background-color: #AF1917;
}