.landingPageImage{
    width: 100%;
}

#CTAs_wrapper{
    position: relative;
    top: -250px;
    padding: 0 300px;
}

.CTA_box{
    padding: 100px 0 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(175, 25, 23, 0.75);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 10px;
    max-width: 45%;
    gap: 25px;
}

.CTA_title{
    font-size: 36px;
    font-family: "Montserrat";
    font-weight: 800;
    color: white;
}

.CTA_introduction{
    font-family: "Montserrat";
    color: #F9C920;
    font-size: 24px;
    max-width: 100%;
    text-align: center;
}

/**
#CTA1_box{
    background: rgba(175, 25, 23, 0.75);
}

#CTA1_introduction {
    color: #F9C920;
}

#CTA2_box {
    background: rgba(249, 201, 32, 0.75);
}

#CTA2_introduction {
    color: #AF1917;
}
/**/

.event_card{
    width: 17vw;
    height: calc(1.4134*17vw);
    border-radius: 5px;
    background-color: #878787;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
}

.event_card > *{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.eventos{
    gap: 7.8vw;
}

.voluntariado_video{
    width: 29.4792vw;
    height: calc(0.5625*29.4792vw);
    background: #D9D9D9;
    border-radius: 5px;
}

.volutariado_content {
    justify-content: center;
    padding: 0 20vw;
    gap: 5vw;
    align-items: center;
}

h1{
    color: #AF1917;
    font-size: 900;
    font-family: "Montserrat";
}

/* CAROUSEL */

.carousel-showmanymoveone .carousel-control {
    width: 6%;
    background-image: none;
}

.carousel-showmanymoveone .carousel-control.left {
    margin-left: -100px;
}

.carousel-showmanymoveone .carousel-control.right {
    margin-right: -100px;
}

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
    display: none;
}

.carousel .item .col-xs-12 {
    padding: 0;
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .carousel .item .col-xs-12:nth-last-child(-n+2) {
        display: none;
    }
}

@media all and (min-width: 768px) {

    .carousel-showmanymoveone .carousel-inner>.active.left,
    .carousel-showmanymoveone .carousel-inner>.prev {
        left: -50%;
    }

    .carousel-showmanymoveone .carousel-inner>.active.right,
    .carousel-showmanymoveone .carousel-inner>.next {
        left: 50%;
    }

    .carousel-showmanymoveone .carousel-inner>.left,
    .carousel-showmanymoveone .carousel-inner>.prev.right,
    .carousel-showmanymoveone .carousel-inner>.active {
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
        display: block;
    }
}

@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {

    .carousel-showmanymoveone .carousel-inner>.item.active.right,
    .carousel-showmanymoveone .carousel-inner>.item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner>.item.active.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner>.item.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev.right,
    .carousel-showmanymoveone .carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

@media all and (min-width: 992px) {

    .carousel-showmanymoveone .carousel-inner>.active.left,
    .carousel-showmanymoveone .carousel-inner>.prev {
        left: -33.3%;
    }

    .carousel-showmanymoveone .carousel-inner>.active.right,
    .carousel-showmanymoveone .carousel-inner>.next {
        left: 33.3%;
    }

    .carousel-showmanymoveone .carousel-inner>.left,
    .carousel-showmanymoveone .carousel-inner>.prev.right,
    .carousel-showmanymoveone .carousel-inner>.active {
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
        display: block;
    }
}

@media all and (min-width: 992px) and (transform-3d),
all and (min-width: 992px) and (-webkit-transform-3d) {

    .carousel-showmanymoveone .carousel-inner>.item.active.right,
    .carousel-showmanymoveone .carousel-inner>.item.next {
        -webkit-transform: translate3d(33.3%, 0, 0);
        transform: translate3d(33.3%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner>.item.active.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-33.3%, 0, 0);
        transform: translate3d(-33.3%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner>.item.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev.right,
    .carousel-showmanymoveone .carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}