.landingPageImage{
    width: 100%;
}

#CTAs_wrapper{
    position: relative;
    top: -200px;
    padding: 0 300px;
}

.CTA_box{
    padding: 100px 0 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(175, 25, 23, 0.75);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 10px;
    max-width: 45%;
    gap: 25px;
}

.CTA_title{
    font-size: 36px;
    font-family: "Montserrat";
    font-weight: 800;
    color: white;
}

.CTA_introduction{
    font-family: "Montserrat";
    color: #F9C920;
    font-size: 24px;
    max-width: 100%;
    text-align: center;
}

/**
#CTA1_box{
    background: rgba(175, 25, 23, 0.75);
}

#CTA1_introduction {
    color: #F9C920;
}

#CTA2_box {
    background: rgba(249, 201, 32, 0.75);
}

#CTA2_introduction {
    color: #AF1917;
}
/**/

.missão_video{
    width: 57.2917vw;
    height: calc(0.5625*57.2917vw);
    background: #D9D9D9;
    border-radius: 5px;
}

.event_card{
    width: 15vw;
    height: calc(1.57*15vw);
    border-radius: 5px;
    background-color: #878787;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
}

.eventos{
    gap: 7.8vw;
}

.voluntariado_video{
    width: 29.4792vw;
    height: calc(0.5625*29.4792vw);
    background: #D9D9D9;
    border-radius: 5px;
}

.volutariado_content {
    justify-content: center;
    padding: 0 20vw;
    gap: 5vw;
    align-items: center;
}

.item_loja_card{
    width: 18.229vw;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
}

.item_loja_img{
    width: 100%;
    border-radius: 5px 5px 0 0 ;
    height: 18.229vw;
    background-color: #878787;
}

.item_loja{
    width: 100%;
    padding: 20px;
}

h1{
    font-size: ;
    font-weight: ;
    font-family: "Montserrat";
}