.landingPageImage{
    width: 100%;
}

#CTAs_wrapper{
    position: relative;
    top: -200px;
    padding: 0 300px;
}

.CTA_box{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 10px;
    max-width: 45%;
    gap: 25px;
}

.CTA_title{
    padding: 150px;
    font-size: 36px;
    font-family: "Gotham Bold";
    color: white;
}

.CTA_introduction{
    font-family: "Gotham Bold";
    color: #F9C920;
    padding: 0 100px;
    font-size: 24px;
    max-width: 100%;
    text-align: center;
}

#CTA1_box{
    background: rgba(175, 25, 23, 0.75);
}

#CTA1_introduction {
    color: #F9C920;
}

#CTA2_box {
    background: rgba(249, 201, 32, 0.75);
}

#CTA2_introduction {
    color: #AF1917;
}