.filters{
    width: calc(20vw - 75px);
    padding: 0 75px;
    gap: 75px;
}

.separador{
    border: 1px solid black;
}

.filter_category{
    gap: 15px;
}

.filter_title{
}

.filter_options_group{
    gap: 10px;
    padding-left: 25px;
}

.filter_option{
    gap: 5px;
}

.loja_cards{
    width: 70vw;
}
/**
div{
    border: 1px solid red;
}
/**/