.filters{
    width: calc(20vw - 75px);
    padding: 0 75px;
    gap: 75px;
}

.separador{
    border: 1px solid black;
}

.filter_category{
    gap: 15px;
}

.filter_options_group{
    gap: 10px;
    padding-left: 25px;
}

.filter_option{
    gap: 5px;
}

.loja_cards{
    width: 70vw;
    gap: 5vw;
}

.loja_cards_line{
    gap: 7.65vw;
}

.loja_gap{
    gap: 5vw;
}

/* PRODUTO */

.detalhes{
    gap: 30px;
    width: 60vw;
}

.detalhes > .detalhes_info{
    gap: 30px;
}

.detalhes > .separador{
    width: 100%;
}

/**
div{
    border: 1px solid red;
}
/**/