.card_produto{
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
}

.produto_img {
    width: 32vw;
    object-fit: cover;
    border: none;
    height: 32vw;
    border-radius: 10px 0 0 10px;
    background-color: #878787;
}

.produto_info{
    background-color: white;
    border-radius: 0 10px 10px 0;
    height: calc(32vw - 200px);
    padding: 100px;
}

.tamanhos input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.tamanhos label {
    color: black;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    border: transparent 2px solid;
}

.tamanhos input[type=radio]:checked+label {
    color: black;
    border-radius: 5px;
    border: black 2px solid;
}

.tamanhos {
    width: fit-content;
    gap: 10px;
}

.cores input[type="radio"] {
    display: none;
}

.cores label {
    display: flex;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.cores span {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transition: transform .2s ease-in-out;
}

.selecao_cores input[type="radio"]:checked+label span{
    transform: scale(1.05);
    border: 1px solid black;
}

.selecao_cores input[type="radio"]:hover+label span{
    transform: scale(1.05);
}